/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Accumen
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120712
*/
h2,h3,h4 {
	font-family: Arial;
	color: black;
	margin-bottom: 1em;
}

body,input {
	font-family: arial;
}

#content {
	padding: 0px 0 0px 0px;
	width: 1000px;
	margin: 0 0 0 0px;
}

#papers {
	padding: 0px 0 0px 0px;
	width: 1000px;
	margin: 0 0 0 0px;
}

#header {
	padding: 10px 0 80px 150px;;
	height: 130px;
	width: 1000px;
	position: relative;
}

#logo {
	position: absolute;
	top: 40px;
	left: 40px;
	height: 130px;
	line-height: 130px;
}

#menu {
	line-height: 57px;
	position: absolute;
	right: 40px;
	top: 76px;
	height: 57px;
	font-family: "Open Sans", sans-serif;
}

#menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #1C1C1C;
	font-size: 1.2em;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 10px 10px 10px 10px;
	margin: 0 8px 0 8px;
}

#menu ul li.active {
	background: #F2EBDE;
	border: solid 1px #BFB5A4;
	box-shadow: inset 0px 0px 0px 1px #fff;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}

#menu ul li.active a {
	color: #FDFEFE;
}

#page {
	margin: 0;
	position: relative;
	width: 900px;
	padding: 10px 40px 0 40px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	padding: 25px 0 25px 0;
	clear: both;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: solid 1px #DDD;
	padding: 10px 0 10px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

